* {
    padding: 0;
    margin: 0;
    font-family: 'Atomic Age', cursive;
}

body {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.button {
    padding: 15px 30px;
    background: $color-green-y;
    color: #000;
    border: 1px solid transparent;
    border-radius: 25.5px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background: transparent;
        border: 1px solid $color-green-y;
        color: $color-green-y;
    }
}